<!-- * colorSynth by Eoin Roe.
     * Description: A realtime synthesis application that runs in your web browser! 
     * Copyright 2019 Eoin Roe. All rights reserved. -->

<html>
<head>
  <title>colorSynth</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">    
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Condiment|Orbitron|Comfortaa|Josefin+Sans">
  
  <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='lib/p5.min.js') }}"></script>

  {% assets "js_all" %}
  <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='gen/packed.js') }}"></script>
  {% endassets %}

  <style></style>
  <body>
  <div id="sketch-div"></div>  
  </body>
</head>
</html>
