<html>
<head>
  <title>colorSynth</title>
    
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">    
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Condiment|Orbitron|Comfortaa|Josefin+Sans">
  
  <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='lib/p5.min.js') }}"></script>
  <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='lib/p5.dom.js') }}"></script>
  <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='lib/maxiLib.js') }}"></script>
  <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='lib/maxiExtras.js') }}"></script>

  {% assets "js_all" %}
  <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='gen/packed.js') }}"></script>
  {% endassets %}

  <style></style>
    
  <body>
  <div id="sketch-div"></div>  
  </body>
</head>
</html>
