<!DOCTYPE html>
<html>
<head>
  <title>colorSynth</title>

  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:100, 300|Open+Sans">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>colourSynth - Manual</h1>

<p id="1st para">Play the synth with your computer keyboard</p>    
<div>
<!--<p>- The middle row of the keyboard, letters <kbd>a</kbd> to <kbd>k</kbd> , plays the white notes<br>- The top row of the keyboard, letters <kbd>w</kbd> <kbd>e</kbd> <kbd>t</kbd> <kbd>y</kbd> and <kbd>u</kbd> , plays the black notes.</p>-->

<p>- Letters <kbd>a</kbd> to <kbd>k</kbd> play the white notes<br>- Letters <kbd>w</kbd> <kbd>e</kbd> <kbd>t</kbd> <kbd>y</kbd> and <kbd>u</kbd> play the black notes</p>
</div>    
    
<!--<p>Change octave with the up/down arrow keys and pan the output by holding down<br>the left/right arrow keys.</p>-->

<p>Change octave with the <kbd>↑</kbd> <kbd>↓</kbd> arrow keys and pan the output by holding down<br>the <kbd>&#8592;</kbd> or <kbd>&#8594;</kbd> arrow keys</p>
    
<!--    <p>Turn the delay on and off by pressing <kbd style="font-family:Open Sans;font-weight:300">Cmd + Spacebar.</kbd></p>-->
    
<p>Turn the delay on and off by pressing <kbd2>Spacebar</kbd2></p>
    
<p>You can select which waveforms you want to use by clicking on the button<br>next to the image of each waveform type, or with number keys <kbd>1</kbd> - <kbd>4</kbd></p>
    
<!--<p>Create a patch with up to 4 waveforms!</p>-->
    
<!--<p>Use the faders, by dragging them up or down with your mouse, to adjust <br>the levels of each waveform in your patch.</p>-->
<p>Use the faders to adjust the levels of each waveform by dragging them<br> up or down with your mouse</p>
    
<p>Use the noise generator to fade in different kinds of noise, the colour of the<br>waveform corresponds to the type of noise being produced</p>
    
<p>To program the sequencer you always start by clicking in the box corresponding to the step of<br>
the sequence you want to activate, then you can choose which note you want by pressing a key<br>
on the keyboard using your mouse or playing a note using your computer keyboard</p>

<p>You can even just use the arrow keys to move up and down in semitones and left and right along the sequence</p>

<a style="color:darkgray;text-decoration: none;" href={{ url_for('playing') }}>Click here to start playing</a> 
<!-- <a style="color:darkgray;text-decoration: none;" href="play">Click here to start playing</a> -->
</body>
</html>
